@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
.footer__listElt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.banniere {
  padding: 1rem 1rem;
  position: relative;
  z-index: 1000;
  text-align: center;
}
.banniere__logo {
  object-fit: cover;
  height: 30px;
}

.loc {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.loc__icon {
  margin-right: 1rem;
}
.loc__text {
  font-weight: 700;
}

.reserv {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.reserv__titre {
  margin: 0;
}
.reserv__titre2 {
  font-weight: 300;
  margin: 1.5rem 0;
}
.reserv__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.reserv__btn:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 40px -7px;
  transition-duration: 0.9s;
}

.tuto {
  padding: 2rem 1rem;
}
.tuto__title {
  margin-top: 0;
}
.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 64rem) {
  .tuto__steps {
    display: flex;
  }
}
.tuto__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 64rem) {
  .tuto__step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .tuto__step:first-child {
    margin-left: 0.75rem;
  }
}
.tuto__step:first-child {
  margin-top: 0;
}
.tuto__step:last-child {
  margin-bottom: 0;
}
.tuto__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.tuto__step:hover {
  background-color: rgba(230, 175, 250, 0.2980392157);
  transition-duration: 0.25s;
}
.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 64rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 10px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}

.fa-heart-o {
  font-size: x-large;
}
.fa-heart-o:hover {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
